$mobile: 35rem;

.page-content {
  display: flex;
  flex-direction: column;

  > * {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hide-mobile {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.loading {
  height: 100%;
  text-align: center;
  position: relative;

  &:after {
    color: #333;
    opacity: 0.2;
    content: ' loading...';
    display: block;
    position: absolute;
    top: calc(50% - 0.5em);
    width: 100%;
  }
}

@import './back';
@import './live-edit';
@import './image-details';
@import './user-actions';
@import './collection';
@import './collections-list';
