$mobile: 35rem;

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #eee;
  min-height: 100%;

  > * {
    flex: 0 $maxPageWidth;
    padding: 0.2em;
    background-color: #fff;
    outline: 1px solid #ccc;
    max-width: calc(100% - 0.2em);

    @media screen and (min-width: $maxPageWidth) {
      padding: 2.5rem 3rem 2.5rem;
    }
  }

  @media screen and (min-aspect-ratio: 3/2), screen and (min-width: 900px) {
    // max-height: 100%;
    // overflow-y: scroll;
  }
}

.page-content {
  display: flex;
  flex-direction: column;

  > * {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hide-mobile {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.loading {
  height: 100%;
  text-align: center;
  position: relative;

  &:after {
    color: #333;
    opacity: 0.2;
    content: ' loading...';
    display: block;
    position: absolute;
    top: calc(50% - 0.5em);
    width: 100%;
  }
}

@import './forms';
@import './actions';
@import './back';
@import './live-edit';
@import './image-details';
@import './user-actions';
@import './collection';
@import './collections-list';
@import './missing';
