$backButtonHeight: 3em;

.back {
  flex: 0 0 3em;
  background: #ccc;
  cursor: pointer;
  margin-bottom: 0.2em;
  position: relative;
  border-radius: 0.2em;
  color: white;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  &:before {
    flex: 0;
    text-align: center;
    content: '\2039 return';
    text-transform: lowercase;
    display: inline-block;
    line-height: 0;
    font-size: $backButtonHeight * 2;
    margin-top: -0.17em;

    @media screen and (max-width: 30rem) {
      content: 'return';
    }
  }

  &:hover {
    background-color: #aaa;
  }
}
