$backButtonHeight: 4.6rem;

.back {
  flex: 0 0 $backButtonHeight;
  background: #ccc;
  cursor: pointer;
  margin-bottom: 0.2em;
  position: relative;
  border-radius: $borderRadius;
  color: white;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  @media screen and (max-aspect-ratio: 5/4) {
    position: fixed;
    z-index: 100;
    top: $gutterSize;
    left: $gutterSize;
    right: $gutterSize;
    height: $backButtonHeight;
    box-shadow: 0 -4 * $gutterSize 0 $gutterSize * 5 rgba(255,255,255,1);

    + * {
      margin-top: calc(#{$backButtonHeight} + #{$gutterSize});
    }
  }

  &:before {
    flex: 0;
    text-align: center;
    content: '\2039 return';
    text-transform: lowercase;
    display: inline-block;
    line-height: 0;
    font-size: $backButtonHeight * 2;
    margin-top: -0.17em;

    @media screen and (max-width: 30rem) {
      content: 'return';
    }
  }

  &:hover {
    background-color: #aaa;
  }
}
