$backButtonHeight: 4.6rem;

.back {
  position: fixed;
  background: rgba(200,200,200,0.9);
  margin-bottom: 0.2em;
  cursor: pointer;
  border-radius: $borderRadius;
  color: white;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  top: $gutterSize;
  left: $gutterSize;
  right: $gutterSize;
  height: $backButtonHeight;
  box-shadow:
    0 -4 * $gutterSize 0 $gutterSize * 5 rgba(255,255,255,1),
    // 0 4 * $gutterSize $gutterSize * 9 rgba(0,0,0,0.1)
  ;

  + * {
    z-index: 1;
    margin-top: calc(#{$backButtonHeight} + #{$gutterSize});
  }

  // flex: 0 0 $backButtonHeight;
  // background: rgba(200,200,200,0.9);
  // cursor: pointer;
  // margin-bottom: 0.2em;
  // position: relative;
  // border-radius: $borderRadius;
  // color: white;
  // overflow: hidden;
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: center;

  // + * {
  //   z-index: 1;
  // }

  @media screen and (min-aspect-ratio: 3/2), screen and (min-width: 900px) {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    right: auto;
    flex: 0 0 $backButtonHeight;
    width: 100%;

    + * {
      margin-top: auto;
    }
  }

  // @media screen and (max-width: 900px) {
  //   position: relative;
  //   top: auto;
  //   right: auto;
  //   left: auto;
  //   right: auto;
  //   flex: 0 0 $backButtonHeight;
  //   width: 100%;

  //   + * {
  //     margin-top: auto;
  //   }
  // }

  &:before {
    flex: 0;
    text-align: center;
    content: '\2039 return';
    text-transform: lowercase;
    display: inline-block;
    line-height: 0;
    font-size: $backButtonHeight * 2;
    margin-top: -0.17em;

    @media screen and (max-width: 30rem) {
      content: 'return';
      letter-spacing: -0.05em;
    }
  }

  &:hover {
    background-color: #aaa;
  }

  & + .form {
    padding-top: 5%;
  }
}
