$baseColor: #222;
$baseFontSize: 1.5em;
$gridItemMargin: 0.25rem;
$maxPageWidth: 900px;

@mixin gridMultiple($itemsPerRow, $margin) {
  margin-bottom: $margin;
  width: calc(100% / #{$itemsPerRow} - (#{$margin} * 0.5));
}

@mixin gridSingle($margin) {
  margin-bottom: $margin;
  width: 100%;
}

body {
  color: $baseColor;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: $baseFontSize;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #eee;
  min-height: 100%;

  > * {
    flex: 0 $maxPageWidth;
    padding: 0.2em;
    background-color: #fff;
    outline: 1px solid #ccc;

    @media screen and (min-width: $maxPageWidth) {
      padding: 1em;
    }
  }
}

.grid {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: space-between;

  article {
    position: relative;
    @include gridSingle($gridItemMargin);

    @media screen and (min-width: 28em) {
      @include gridMultiple(2, $gridItemMargin);
    }

    @media screen and (min-width: 40em) {
      @include gridMultiple(3, $gridItemMargin);
    }

    @media screen and (min-width: $maxPageWidth) {
      @include gridMultiple(4, $gridItemMargin);
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
  -webkit-transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
  -webkit-transition: opacity 200ms ease-in;
}
