$baseColor: #222;
$baseFontSize: 1.5em;
$gridItemMargin: 0.25rem;
$maxPageWidth: 900px;
$gutterSize: 0.2em;

@mixin grid($itemsPerRow) {
  flex: 0 0 calc(100% / (#{$itemsPerRow}));
}

body {
  color: $baseColor;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: $baseFontSize;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #eee;
  min-height: 100%;

  > * {
    flex: 0 $maxPageWidth;
    padding: 0.2em;
    background-color: #fff;
    outline: 1px solid #ccc;

    @media screen and (min-width: $maxPageWidth) {
      padding: 1em;
    }
  }
}

@import './toggles';
@import './app';
