button, .button {
  background-color: #f5f5f5;
  border-radius: $borderRadius;
  border: 1px solid #333;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  padding: 0.7em 1.5em;
  color: #333;
  opacity: 0.7;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.4;
  }

  &:hover:not(:disabled) {
    opacity: 1;
    cursor: pointer;
  }
}
