$storyPaddingRight: 1em;

.image-details {
  margin: 1.7rem 0;

  *::placeholder {
    text-transform: none;
  }

  .input-group {
    padding-top: 0.1em;
  }

  h1, .h1 {
    font-size: 2em;
    text-transform: uppercase;
    white-space: pre-line;
    width: 100%;
    line-height: 1em;
    margin-bottom: 0.3em;
  }

  h1:empty {
    display: none;
  }

  .story {
    font-size: 16px;
    line-height: 1.5em;
    padding-right: $storyPaddingRight;
    margin-bottom: 1em;

    > div {
      @media screen and (min-width: 50rem) {
        column-count: 2;
        column-gap: 3rem;
      }

      > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  textarea.story {
    width: calc(100% - #{$storyPaddingRight});
    padding-right: 0;
  }

  @media screen and (max-width: 900px) {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  @media screen and (min-width: 50rem) {
    margin: 2rem 2rem 0;
  }
}
