.live-edit, .live-edit:active, .live-edit:focus {
  position: relative;
  border: none;
  border-bottom: 2px dashed transparent;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  font-family: sans-serif;
  font-weight: 300;
  outline: none;
  padding: 0 1em 0 0em;
  position: relative;
  font-size: 1.5rem;
  resize: none;

  &:hover {
    border-color: #21b5f0;
  }

  &:focus {
    color: #3ae;
  }

  &::placeholder {
    color: #ccc;
  }
}
