$trackHeight: 1em;
$trackWidth: $trackHeight * 2;
$transitionDelay: 0.1s;

.toggle {
  padding-left: ($trackWidth + 0.3em);
  line-height: $trackHeight;
  cursor: pointer;
  color: #ccc;
  position: relative;

  &.active {
    color: #333;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 1.5em;
    background-color: #f5f5f5;
    height: $trackHeight;
    width: $trackWidth;
  }

  // track
  &:before {
    background-color: #777;
    box-shadow: inset 0.1em 0.05em 0.4em 0.01em rgba(0,0,0,0.1);
    transition: background-color $transitionDelay ease-in;
  }

  &.active:before {
    background-color: $primaryFormColor;
  }

  // handle
  &:after {
    height: calc(#{$trackHeight} - 2px);
    width: calc(#{$trackHeight} - 2px);
    top: 1px;
    left: 1px;
    box-shadow: 0 0 1px 1px #ccc;
    transition: left $transitionDelay ease-in;
  }

  &.active:after {
    left: calc(#{$trackWidth - $trackHeight} + 1px);
  }
}
