.user-actions {
  flex: 0 2em;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 1em;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: flex-end;
  align-content: flex-end;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  > * {
    flex: 0 0;
  }

  .login-signup {
    * + *:before {
      content: 'or';
      display: inline-block;
      margin: 0 0.5em;
      text-transform: lowercase;
      opacity: 0.4;
    }
  }

  .toggle.edit {
    padding-top: 0.05em;
  }
}
