.controls {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  font-size: 1.1rem;
  // padding: 1.5em 1em 1em;
  text-transform: uppercase;
  white-space: nowrap;
  align-items: flex-end;
  align-content: flex-end;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  flex: 0 auto;
  margin: 2rem 1.5rem 1.5rem;

  @media screen and (min-width: 900px) {
    margin: 2rem 0 0;
  }

  &:hover {
    opacity: s1;
  }

  > * {
    flex: 0 0;
  }

  .login-signup {
    * + *:before {
      content: 'or';
      display: inline-block;
      margin: 0 0.5em;
      text-transform: lowercase;
      opacity: 0.4;
    }
  }

  .toggle.edit {
    padding-top: 0.05em;
  }

  nav.horizontal {
    display: flex;
    flex-flow: row wrap;
    line-height: 1.5em;

    > * {
      flex: 0;
      margin-right: 1em;
    }
  }

  .collections {
    flex: 0 0 100%;
    margin: 0.5em 0 1.5em;
    text-transform: lowercase;

    h1 {
      display: flex;
      flex-direction: row wrap;
      align-items: center;
      margin-bottom: 0.1em;
      font-size: 2.1em;
    }

    nav {
      line-height: 1.5em;
    }

    a {
      &:hover {
        opacity: 0.6;
      }
    }

    .create {
      color: #23aaef;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }

  @media screen and (min-width: 50rem) {
    // margin: 2rem;
  }

  @media screen and (min-width: 900px) {
    // margin: 1rem 0 1rem;
  }

  @media screen and (min-aspect-ratio: 3/2), screen and (min-width: 900px) {
    // display: none;
  }
}
