.user-actions {
  flex: 0 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 1em;
  text-transform: uppercase;
  white-space: nowrap;

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  > * {
    flex: 0;
  }

  .userlink {
    align-self: flex-end;
  }

  .toggle.edit {
    padding-top: 0.05em;
  }
}
